### Задание 1

- Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:


1. The Moscow Times - Wednesday, October 2, 2002
2. The Guardian - Friday, 11.10.13
3. Daily News - Thursday, 18 August 1977

In [ ]:
from datetime import datetime

Newspapers = ['The Moscow Times', 'The Guardian', 'Daily News']

date_test = {}
date_test.update({Newspapers[0]:'Wednesday, October 2, 2002',Newspapers[1]:'Friday, 11.10.13',Newspapers[2]:'Thursday, 18 August 1977'})

date_format = {}
date_format.update({Newspapers[0]:'%A, %B %d, %Y', Newspapers[1]:'%A, %m.%d.%y', Newspapers[2]:'%A, %d %B %Y'})

In [ ]:
for np in Newspapers:
    date_ = datetime.strptime(date_test[np],date_format[np])
    print(f'{np} date fromat is : {date_}')

The Moscow Times date fromat is : 2002-10-02 00:00:00
The Guardian date fromat is : 2013-11-10 00:00:00
Daily News date fromat is : 1977-08-18 00:00:00

### Задание 2

- Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [ ]:
def date_checker(dates, date_format = '%Y-%m-%d'):
    result = []
    for date_sample in dates:
        try:
            datetime.strptime(date_sample, date_format)
            result.append((date_sample, True))
        except ValueError:
            result.append((date_sample, False))   
    
    return result

In [ ]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
    
print(date_checker(stream))

[('2018-04-02', True), ('2018-02-29', False), ('2018-19-02', False)]

## Задание 3

- Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [ ]:
from datetime import timedelta

def date_range(start_date, end_date):
    if start_date > end_date:
        print('Error. Start_Date more than End_Date')
        return []
    else:
        try:
            start_date = datetime.strptime(start_date,'%Y-%m-%d')
            end_date = datetime.strptime(end_date,'%Y-%m-%d')
            current_date = start_date
            result = []
            while current_date <= end_date:
                result.append(current_date.strftime('%Y-%m-%d'))
                current_date += timedelta(days = 1)
            return result
        except ValueError:
            print('Error. Wrong date format. It should be YYYY-MM-DD for both dates')
            return []

In [ ]:
date_range('2018-04-02','2018-04-18')

['2018-04-02',
 '2018-04-03',
 '2018-04-04',
 '2018-04-05',
 '2018-04-06',
 '2018-04-07',
 '2018-04-08',
 '2018-04-09',
 '2018-04-10',
 '2018-04-11',
 '2018-04-12',
 '2018-04-13',
 '2018-04-14',
 '2018-04-15',
 '2018-04-16',
 '2018-04-17',
 '2018-04-18']

## Задание 4

In [ ]:
DEFAULT_USER_COUNT = 3

In [ ]:
def delete_and_return_last_user(region, default_list=['A100', 'A101','A102']):
    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    #print(default_list)
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)

    return default_list[DEFAULT_USER_COUNT-2]

delete_and_return_last_user(1)
delete_and_return_last_user(1)